<div class="form-wrapper">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Label</mat-label>
        <input matInput type="text" formControlName="label">
      </mat-form-field>
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary" [disabled]="!canSubmit()">Validate</button>
      <button type="button" mat-raised-button color="warn" (click)="resetForm()" [disabled]="!form.dirty">Reset
      </button>
    </div>
  </form>
</div>
