<ng-container *ngIf="(groupList$ | async) as groupList">
  <mat-list role="list" *ngIf="groupList.length > 0; else noGroups">
    <mat-list-item role="listitem" *ngFor="let group of groupList">
      <button mat-button (click)="selectGroup(group)">
        {{group.label}}
      </button>
      <div>
        <button mat-icon-button color="primary" [routerLink]="['group', 'edit', group.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(group)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <button mat-button (click)="selectGroup()">
        Sans groupe
      </button>
    </mat-list-item>
  </mat-list>

  <ng-template #noGroups>
    <p>There are no group</p>
  </ng-template>
</ng-container>
