.container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  max-width: 800px;
  margin: 0 auto;

  .group-list {
    background-color: #eee;
  }
  .todo-list {
    background-color: #eee;
  }
}
