<ng-container *ngIf="(todoList$ | async) as todoList">
  <mat-list role="list" *ngIf="todoList.length > 0; else noTodos">
    <mat-list-item role="listitem" *ngFor="let todo of todoList">
        <div matLine>
          {{todo.label}}
          <small>{{todo.limitDate | date}}</small>
        </div>
        <div matLine>
          {{todo.description}}
        </div>
          <mat-form-field appearance="standard">
            <mat-label>Status</mat-label>
            <mat-select [value]="todo.status" (valueChange)="updateStatus(todo, $event)">
              <mat-option *ngFor="let status of statuses" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <div>
          <button mat-icon-button color="primary" [routerLink]="['todo', 'edit', todo.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(todo)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
    </mat-list-item>
  </mat-list>

  <ng-template #noTodos>
    <p>There are no todos</p>
  </ng-template>
</ng-container>
