<div *ngIf="group$ | async as group; else nothingToShow">
  <app-form-group
    (groupSubmit)="submit($event)"
    [actionOnGoing]="updateOnGoing"
    [group]="group"
  ></app-form-group>
</div>
<ng-template #nothingToShow>
  <p>Nothing to show</p>
</ng-template>
